@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.card {
    width: 26%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top: 3.5px solid black;
    font-family: "Rubik", sans-serif;
}

.card h1 {
    font-size: 2.5rem;
    margin: 1.8rem 0;
    margin-bottom: 8%;
}

.card p {
    font-size: 1.2rem;
    margin: 0 2rem;
}