@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.bannerContainer {
  width: 100%;
  background-color: black;
}

.banner {
  width: 100%;
  background-image: url("/images/djpeb.jpg");
  background-size: cover;
  background-position: center;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.banner h1 {
  position: relative;
  z-index: 2;
}

.bannerContainer h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 10rem;
  text-align: center;
  color: white;
  opacity: 1;
}

.title {
  font-family: 'Fjalla One', sans-serif;
  font-size: 5rem;
  text-align: center;
  margin: 2rem 0;
  color: white;
}

.cardsContainer {
  width: 100%;
  display: flex;
  padding: 2rem;
  justify-content: space-around;
}

.slogan {
  margin-top: 4%;
  font-family: 'Fjalla One', sans-serif;
  font-size: 7rem;
  text-align: center;
}

.slogan span {
  color: rgb(163, 0, 0);
}

.djs {
  width: 100%;
  display: flex;
  padding: 5rem;
  gap: 8%;
}

.djCards {
  display: flex;
  gap: 2rem;
}

.djsText h2 {
  margin-top: 1%;
  color: rgb(26, 25, 25);
  font-size: 2.5rem;
  font-family: 'Fjalla One', sans-serif;
}

.djsText p {
  color: rgb(26, 25, 25);
  font-size: 1.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
